@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="form-row justify-content-center">
        <img src="~/Image/Springer.jpg" class="img-fluid" alt="Responsive image"/>
    </div>
    <div class="form-row">
        <div class="col-md-4">
            <h2>Редактирование бд</h2>
            <p>
                В данном приложении вы можете добавлять, просматривать, редактировать и удалять данные о публикациях.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Конструктор запросов</h2>
            <p>С помощью конструктора запросов вы можете проводить анализ существующих публикаций.</p>
        </div>
        <div class="col-md-4">
            <h2>Экспорт в Excel</h2>
            <p>Результаты запросов и записи в бд можно экспортировать в Excel.</p>
        </div>
        <hr />
    </div>
</div>

